@import "tailwindcss";

.pause-animation {
  animation-play-state: paused !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px){
  .animate-marquee-ltr{
    animation-duration: 8s;
  }
}

@media (max-width: 480px) {
  .animate-marquee-ltr {
    animation-duration: 6s;   /* ultra fast for very small screens */
  }
}

/* Pause Animation Class */
.pause-animation {
  animation-play-state: paused !important;
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 25s linear infinite;
  white-space: nowrap;
}

.animate-marquee-reverse {
  display: inline-flex;
  animation: marquee-reverse 25s linear infinite;
  white-space: nowrap;
}

.pause-animation {
  animation-play-state: paused;
}
